//VARIABLES DE SASS
//esto no se compila en el archivo de css. solo guarda los valores


//para modificar los colores del sitio

$primary-color: #1989fa;
$secondary-color: whitesmoke;
$terciary-color: #a1ffa6;
$bg-color: rgb(70, 70, 70);

$font-color-primary: rgb(43, 43, 43);
$font-color-secondary: whitesmoke;


$box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);



$limit: 10;
$unit: 8px;